<div class="card border-success card mt-5 mx-auto" style="width: 50rem;">
    <div class="card-header text-center border-success">
      Admin-Dashboard
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>Total Products:</td>
          <td><%= @total_quantity%></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Total categories:</td>
          <td><%= @total_categories%></td>
        </tr>
      </tbody>
    </table>
</div>